 



 
 
 <form id="register" action="/register" method="post" enctype="multipart/form-data">

    <label for="name">Username:</label>
    <input type="text" id="username" name="username">

    <label for="desc"> Password:</label>
    <input type="text" id="cleartext_password" name="cleartext_password">

    
    <input type="submit" value="Register">
  </form>