
  <form class='add-product' action="/products/add" method="post" enctype="multipart/form-data">

    <label for="name">Product Name:</label>
    <input type="text" id="name" name="name">

    <label for="desc"> Description:</label>
    <input type="text" id="desc" name="desc">

    <label for="price"> Price:</label>
    <input type="int" id="price" name="price">
    
    <label for="file">Upload Image (JPG only):</label>
    <input type="file" id="file" name="file">
    
    <input type="submit" value="Upload">
  </form>

