<img src="images/LaoGGoat.jpg" alt="asdas">


<h2>Hur kan vi hjälpa dig idag?</h2>
    <h3>Registera ett nytt konto</h3>
    <form action='/redirect_to_register' method="POST">
        <button type='submit'>Registera</button>
    </form>

    <h3>Betala tillbaka, ta ut mer, eller se din skuld</h3>
    <form action='/redirect_to_login' method="POST">
        <button type='submit'>Logga in</button>
    </form>

