<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetroMart</title>
   <link rel="stylesheet" type="text/css" href="/css/style.css">
   <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>
<body>

<header>

<a href="/products">
    <button>G책 till produkter</button>
</a>

<% if session[:user_id] %>
  <p>V채lkommen <%= @user['username'].capitalize %>! </p>
 <p>Antal saker i kundvagn: <%= @cart.length%> </p>

  <a href="/logout">
    <button>Logout</button>
  </a>

  <a href="/carts/show">
    <button>G책 till kundvagn</button>
  </a>
<% else %>
  <p>Du 채r inte inloggad.</p>
<a href="/register">
    <button>Register</button>
</a>

<a href="/login">
    <button>Login</button>
</a>
<% end %>


</header>
<main>
     <%= yield %>
</main>
<footer>
    <p> LOL </p>
</footer>

</body>
</html>